:root {
    --bs-body-font-family: 'Rubik', sans-serif;
}

body {
    font-family: var(--bs-body-font-family);
}

.navbar .navbar-brand {
    font-family: var(--bs-body-font-family);
    font-size: 1.5rem;
}

.navbar .navbar-nav .nav-link {
    font-family: var(--bs-body-font-family);
    font-size: 1rem;
}

.bg-steel {
    background-color: #0F204D;
    margin-top: 0;
}

.intro {
    font-size: 1.5rem;
    text-align: center;
}

.page {
    background-color:  #0F204D;
}

.border {
    background-color: #4564B9;
}

.page-content{
    margin-left: 1rem;
    font-size: 1.5rem;
    color: white;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.page-content-make {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: white;
}

.title{
    display:inline-block;
}

.label {
  padding:0.3rem;
  font-size: 1rem;
}

.bold {
    font-weight: bold;
}

.content {
    font-size: 1rem;
}

.lists {
    font-size: 1rem;
    padding-bottom:1rem;
}

.step {
    font-weight: bold;
    font-size: 1rem;
    padding-bottom:0.3rem;
}

.description {
    line-height: 1;
}

.input:hover {
  box-shadow:0 0 5px 0.5px white;
}

.input, textarea {
  font-family:inherit;
  font-size: 1rem;
}

.input {
      border:none;
      min-height: 1rem;
      min-width: 5rem;
      border-radius:10px;
}

.inputdesc {
    border: none;
    min-height: 100px;
    min-width: 5rem;
    border-radius: 10px;
    font-family: inherit;
    font-size: 14px;
}

.inputdesc:hover {
    box-shadow: 0 0 5px 0.5px white;
}

textarea {
    resize: none;
}

.step {
    border:none;
    border-radius:10px;
    width: 4rem;
}

.line {
    border:none;
    border-radius:10px;
    width: 400px;
    height: 140px;
    font-family: inherit;
    font-size: 14px;
}

.line:hover {
    box-shadow: 0 0 5px 0.5px white;
}

.button {
    background-color: #0E286F;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 3rem;
}

.searchButton {
    background-color: #0E286F;
    border: none;
    border-radius: 10px;
    font-family: var(--bs-body-font-family);
    font-size: 1rem;
    width: 250px;
}

.delete {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    font-size: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 2rem;
    margin-left: 3rem;
    margin-bottom:1rem;
}


.buttonFile {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 1rem;
    background-color: white;
    color: #0E286F;
  }

.buttonFile::-webkit-file-upload-button {
    visibility: hidden;
}

.buttonFile::before {
    content: 'Select a file';
    display: inline-block;
    color: black;
    border: 1px solid #3498db;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}

.buttonFile::after {
    content: 'File selected: ' attr(data-file-name);
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}