<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
  {% block head %}
  <meta name="viewport" content="initial-scale=1, width=device-width" charset="utf-8" title="Home page">

  <title>{% block title %}Cooking Copilot{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Rubik:wght@400;500&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  {% endblock %}
</head>
<body class="page">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <div class="bg-steel">
    <nav class="navbar navbar-expand-sm navbar-dark fs-5 flex-sm-nowrap flex-wrap" data-bs-theme="dark">
      <div class="container-fluid">
        <button class="navbar-toggler flex-grow-sm-1 flex-grow-0 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar5">
          <span class="navbar-toggler-icon"></span>
        </button>
        <span class="navbar-brand flex-grow-1">Cooking Copilot</span>
        <div class="navbar-collapse collapse flex-grow-1 justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mt-2 pl-3 menu">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link chatbot" href="#">Chatbot</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Recipes
              </a>
              <ul class="dropdown-menu dropdownMenu">
                <li><a class="dropdown-item" href="/cuisine/Indian">Indian</a></li>
                <li><a class="dropdown-item" href="/cuisine/Korean">Korean</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/chicken-korma">Chicken Korma</a></li>
                <li><a class="dropdown-item" href="/salmon-fishcakes">Salmon Fishcakes</a></li>
                <li><a class="dropdown-item" href="/scrambled-eggs">Scrambled Eggs</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/publish">Add Recipe</a></li>
              </ul>
            </li>
          </ul>
           <form action="{{ url_for('search') }}" method="get" class="d-flex align-items-center">
             <input type="text" class="search-input" name="query" placeholder="Search for recipes or cuisines" />
           </form>
        </div>
      </div>
    </nav>
    <script>
      $(document).ready(function() {
        $(".dropdown-item").click(function () {
            var selectedPage = $(this).attr('href');
            window.location.href = selectedPage;
        });
      });
    </script>
  </div>

  {% if not is_extended %}
     <div class="electrolize-font">
       <h4 class="electrolize-font-welcome">Welcome to Cooking Copilot!</h4>
      <h2>Elevate Your Culinary Journey - Discover, Share, Chat!</h2>
      <h4 class="electrolize-font-welcome">Start the Chatbot to begin...</h4>
    </div>
<!--    <h4 class="align electrolize-font-welcome">Welcome to Cooking Copilot!</h4>-->

    <div class="browse-text electrolize-font">

      <div id="recipeCarousel" class="carousel slide" style="margin: auto;margin-top: 2rem;" data-bs-ride="carousel">
      <div class="carousel-inner" style="margin: auto">
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='images/scrambled-eggs-image.jpg') }}" alt="Smoked Salmon Sushi Roll" width="400" height="200" class="d-block w-20 landing-image">
          <div class="carousel-caption landing-caption">
            <h3><a href="/scrambled-eggs">Scrambled Eggs</a></h3>
            <p class="content">Scrambled Eggs are a timeless breakfast favorite, loved for their simplicity and deliciousness. This classic dish transforms humble ingredients into a flavorful and satisfying meal. The recipe calls for fresh, large eggs seasoned with a pinch of salt and pepper, cooked to perfection in butter.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='images/Fish-and-Chips.jpg') }}" alt="Fish and Chips" width="400" height="200" class="d-block w-30 landing-image">
          <div class="carousel-caption landing-caption">
            <h3>Fish and Chips</h3>
          </div>
        </div>
        <!-- Add more carousel items as needed -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#recipeCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#recipeCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  {% endif %}

  {% block content %}{% endblock %}
</body>
</html>
